@import 'tailwindcss';

@theme {
    --color-primary: #ffedcf;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0f0301;
}

* {
    box-sizing: border-box;
}

.outline-text {
    -webkit-text-stroke: 1px var(--color-primary);
    -webkit-text-fill-color: transparent;
}